@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    color: var(--color);
    background: var(--background);
    text-align: left;
    font-family: var(--font);
    font-size: 1rem;
    --color: #181818;
    --background: #f8f8f8;
    --white: #f8f8f8;
    --black: #181818;
    --theme1: #badc58;
    --theme2: #6ab04c;
    --theme3: #27ae60;
    --accent: #c0392b;
    --brown: #a83b11;
    --font: 'Sofia Sans', sans-serif;
    --transition: 0.2s ease all;
}

#content{
    margin: 0;
}

.inner-width{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 15px;
}

/* NAVBAR */
#navbar{
    display: none;
}

/* HOME */
#home{
    width: 100%;
    height: 100vh;
    margin: -25px 0 20px 0;
    background-color: var(--white);
    background-image: linear-gradient(90deg, rgba(186, 220, 88, 0.5) 50%, transparent 50%), linear-gradient(rgba(106, 176, 76, 0.5) 50%, transparent 50%);
    background-size: 50px 50px;
    display: none;
}

/* GAME */
#game{
    width: 100%;
    height: 100vh;
    position: relative;
}

/* JASSTEPPICH */
#jassteppich{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#teppichContainer{
    width: 400px;
    height: 400px;
    background: var(--theme2);
    border: 4px solid var(--theme3);
    border-radius: 12px;
    position: relative;
    display: grid;
    place-items: center;
}

.card{
    user-select: none;
}

.card:is(.given){
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 240px;
}

@media screen and (max-width:640px){
    #teppichContainer{
        width: 90vw;
        height: 90vw;
    }

    .card:is(.given){
        height: 30vh;
    }
}

.card:is(.playerBottom){
    transform: translate(-50%, -40%) rotate(0deg);
}

.card:is(.playerLeft){
    transform: translate(-60%, -50%) rotate(90deg);
}

.card:is(.playerTop){
    transform: translate(-50%, -60%) rotate(180deg);
}

.card:is(.playerRight){
    transform: translate(-40%, -50%) rotate(270deg);
}

/* PLAYER CARDS */
.cardContainer{
    position: absolute;
}

.cardContainer:is(.cpu){
    display: none;
}

/* USERS CARDS */
.user{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    display: flex;
}

.user .card{
    height: 240px;
    width: auto;
    transition: 0.4 ease-out;
    position: relative;
    left: 0;
}

@media screen and (max-width:640px){
    .user{
        height: calc(20vh - 40px);
    }

    .user .card{
        height: 20vh;
    }
}

.user .card:not(:first-child){
    margin-left: -50px;
}

.user .card:hover{
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.user .card:hover ~ .card{
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

/* Jasstafel */
#jasstafel{
    width: 15%;
    height: auto;
    background: radial-gradient(circle, rgba(75,75,75,1) 0%, rgba(24,24,24,1) 100%);
    color: var(--white);
    border: 6px solid var(--brown);
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
}

#jasstafel img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--white);
    padding: 5px;
}

/* HINT */
#hint{
    width: 80%;
    height: auto;
    background: var(--accent);
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 4px;
    position: fixed;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    display: none; /* FLEX */
    justify-content: center;
    align-items: center;
    opacity: 0%;
}

#hint i{
    font-size: 3.5rem;
    margin: 0 30px;
}


/* GENERAL */
.notice{
    font-size: 1.2rem;
    position: relative;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.2);
}

.notice::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 1.4rem;
    background: var(--black);
}

a{
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

a:is(:hover, :focus){
    text-decoration: none;
    font-style: normal;
}

button{
    width: auto;
    height: auto;
    padding: 10px 30px;
    background: var(--accent);
    border: 2px solid var(--white);
    border-radius: 14px;
    color: var(--white);
    font-size: 1rem;
    transition: var(--transition);
}

button:is(:hover, :focus){
    background: var(--theme1);
}