@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    color: var(--color);
    background: var(--background);
    text-align: left;
    font-family: var(--font);
    font-size: 1rem;
    --color: #181818;
    --background: #f8f8f8;
    --white: #f8f8f8;
    --black: #181818;
    --theme1: #79c857;
    --theme2: #6ab04c;
    --theme3: #27ae60;
    --accent: #c0392b;
    --brown: #a83b11;
    --jasstafelBackground: radial-gradient(circle, rgba(75,75,75,1) 0%, rgba(24,24,24,1) 100%);
    --font: 'Sofia Sans', sans-serif;
    --transition: 0.2s ease all;
}

#content{
    margin: 0;
}

.inner-width{
    width: 100%;
    max-width: 1100px;
    margin: auto;
    padding: 15px;
}

/* LOADING SCREEN */
#loadingScreen{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
    background: var(--theme1);
    display: grid;
    place-items: center;
    user-select: none;
    overflow: hidden;
}

.loader{
    width: clamp(200px, 40%, 300px);
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-60%, -50%);
    animation: shuffleLoader 2s infinite;
}

.loader:nth-child(2){
    animation-delay: 350ms;
}

@keyframes shuffleLoader{
    0%{
        transform: translate(-60%, -50%) rotate(-10deg);
    }
    50%{
        transform: translate(-45%, -50%) rotate(10deg);
    }
    100%{
        transform: translate(-60%, -50%) rotate(-10deg);
    }
}

@-webkit-keyframes shuffleLoader{
    0%{
        -webkit-transform: translate(-60%, -50%) rotate(-10deg);
    }
    50%{
        -webkit-transform: translate(-45%, -50%) rotate(10deg);
    }
    100%{
        -webkit-transform: translate(-60%, -50%) rotate(-10deg);
    }
}

/* NAVBAR */
#navbar{
    display: none;
}

/* HOME */
#home{
    width: 100%;
    height: auto;
    min-height: calc(100vh + 25px);
    margin: -25px 0 20px 0;
    background-image: url(assets/backgrounds/background01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--white);
    display: grid;
    place-items: center;
}

.hiddenSection{
    max-width: calc(100% - 60px);
    background: var(--accent);
    margin: 30px 0;
    padding: 15px;
    border: 2px solid var(--white);
    border-radius: 12px;
    display: none;
}

/* GAME */
#game{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow-y: hidden;
    display: none;
}

/* JASSTEPPICH */
#jassteppich{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -75%);
}

#teppichContainer{
    width: 400px;
    height: 400px;
    background: var(--theme2);
    /*background: radial-gradient(circle, var(--theme1) 0%, var(--theme2) 100%);*/
    background:
    radial-gradient(var(--theme1) 15%, transparent 16%) 0 0,
    radial-gradient(var(--theme1) 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(121, 200, 87, 0.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(121, 200, 87, 0.1) 15%, transparent 20%) 8px 9px;
    background-color: var(--theme2);
    background-size:16px 16px;
    border: 4px solid var(--theme3);
    border-radius: 12px;
    position: relative;
    display: grid;
    place-items: center;
}

.card{
    user-select: none;
}

.card:is(.given){
    position: absolute;
    top: 50%;
    left: 50%;
    width: auto;
    height: 240px;
}

.card:is(.best){
    border: 4px solid var(--brown);
    border-radius: 12px;
}

@media screen and (max-width:640px){
    #teppichContainer{
        width: 90vw;
        height: 90vw;
    }

    .card:is(.given){
        height: 30vh;
    }
}

.card:is(.playerBottom){
    transform: translate(-50%, -40%) rotate(0deg);
    -webkit-animation: slideInFromBottom 0.4s 1;
    animation: slideInFromBottom 0.4s 1;
}

.card:is(.playerLeft){
    transform: translate(-70%, -50%) rotate(90deg);
    -webkit-animation: slideInFromLeft 0.4s 1;
    animation: slideInFromLeft 0.4s 1;
}

.card:is(.playerTop){
    transform: translate(-50%, -60%) rotate(180deg);
    -webkit-animation: slideInFromTop 0.4s 1;
    animation: slideInFromTop 0.4s 1;
}

.card:is(.playerRight){
    transform: translate(-30%, -50%) rotate(270deg);
    -webkit-animation: slideInFromRight 0.4s 1;
    animation: slideInFromRight 0.4s 1;
}

@keyframes slideInFromBottom{
    0%{
        transform: translate(-50%, -30%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -40%) rotate(0deg);
    }
}

@-webkit-keyframes slideInFromBottom{
    0%{
        -webkit-transform: translate(-50%, -30%) rotate(0deg);
    }
    100%{
        -webkit-transform: translate(-50%, -40%) rotate(0deg);
    }
}

@keyframes slideInFromLeft{
    0%{
        transform: translate(-80%, -50%) rotate(90deg);
    }
    100%{
        transform: translate(-70%, -50%) rotate(90deg);
    }
}

@-webkit-keyframes slideInFromLeft{
    0%{
        -webkit-transform: translate(-80%, -50%) rotate(90deg);
    }
    100%{
        -webkit-transform: translate(-70%, -50%) rotate(90deg);
    }
}

@keyframes slideInFromTop{
    0%{
        transform: translate(-50%, -70%) rotate(180deg);
    }
    100%{
        transform: translate(-50%, -60%) rotate(180deg);
    }
}

@-webkit-keyframes slideInFromTop{
    0%{
        -webkit-transform: translate(-50%, -70%) rotate(180deg);
    }
    100%{
        -webkit-transform: translate(-50%, -60%) rotate(180deg);
    }
}

@keyframes slideInFromRight{
    0%{
        transform: translate(-20%, -50%) rotate(270deg);
    }
    100%{
        transform: translate(-30%, -50%) rotate(270deg);
    }
}

@-webkit-keyframes slideInFromRight{
    0%{
        -webkit-transform: translate(-20%, -50%) rotate(270deg);
    }
    100%{
        -webkit-transform: translate(-30%, -50%) rotate(270deg);
    }
}

/* PLAYER CARDS */
.cardContainer{
    position: absolute;
}

.cardContainer:is(.cpu){
    display: none;
}

/* USERS CARDS */
.user{
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 200px;
    display: flex;
}

.user .card{
    height: 240px;
    width: auto;
    transition: 0.4 ease-out;
    position: relative;
    left: 0;
}

.user .card:not(:first-child){
    margin-left: -50px;
}

.user .card:hover{
    transform: translateY(-20px);
    transition: 0.4s ease-out;
}

.user .card:hover ~ .card{
    position: relative;
    left: 50px;
    transition: 0.4s ease-out;
}

/* MOBILE VERSION OF CARD STACKING */
@media screen and (max-width:640px){
    .user{
        height: auto;
        max-height: calc(30vh - 40px);
    }

    .user .card{
        height: auto;
        width: 20vw;
    }

    .user .card:not(:first-child){
        margin-left: -11vw;
    }
    
    .user .card:hover{
        transform: translateY(-20px);
        transition: 0.4s ease-out;
    }
    
    .user .card:hover ~ .card{
        position: relative;
        left: 8vw;
        transition: 0.4s ease-out;
    }
}


/* Jasstafel */
#jasstafel{
    width: 15%;
    height: auto;
    background: var(--jasstafelBackground);
    color: var(--white);
    border: 6px solid var(--brown);
    border-radius: 4px;
    padding: 15px;
    position: absolute;
    top: 0;
    right: 0;
    user-select: none;
}

#jasstafel img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--white);
    padding: 5px;
}

/* TRUMP CHOOSER */
#trumpChooser{
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--jasstafelBackground);
    border: 6px solid var(--brown);
    border-radius: 4px;
    color: var(--white);
    font-size: 1.2rem;
    padding: 15px;
    z-index: 980;
    display: none;
}

#trumpContainer{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.trumpButton{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background: var(--white);
    padding: 5px;
    margin: 10px;
}

.trumpButton img{
    width: auto;
    height: 100%;
}

.trumpButton:is(:hover, :focus){
    background: var(--brown);
}

/* HINT */
#hint{
    width: 80%;
    height: auto;
    background: var(--accent);
    color: var(--white);
    font-size: 1.2rem;
    padding: 10px;
    border-radius: 4px;
    position: absolute;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: var(--transition);
    display: none; /* FLEX */
    justify-content: center;
    align-items: center;
    opacity: 0%;
    user-select: none;
}

#hint i{
    font-size: 3.5rem;
    margin: 0 30px;
}

/* GAME SUMMARY */
#gameSummary{
    width: 100%;
    height: auto;
    background: var(--accent);
    color: var(--white);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
    font-size: 1.2rem;
    display: none; /* FLEX */
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
}

#gameSummary i{
    font-size: 4rem;
}

/* CONTROL BUTTONS */
#controlButtons{
    display: flex;
    position: absolute;
    top: 10px;
    left: 10px;
}

#controlButtons button{
    width: 46px;
    height: 46px;
    border: none;
    border-radius: 50%;
    color: var(--white);
    font-size: 1.2rem;
    margin: 0 10px;
    padding: 0;
}

@media screen and (max-width:640px){
    #controlButtons{
        flex-wrap: wrap;
    }
}

/* ALERT GAME FORM */
#alertProblem{
    width: 60%;
    height: 85vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--accent);
    border: 2px solid var(--white);
    border-radius: 12px;
    padding: 15px;
    z-index: 980;
    text-align: center;
    display: none;
}

#alertProblem iframe{
    width: 100%;
    height: calc(100% - (1rem + 40px));
    border: none;
    border-radius: 8px;
}

#alertProblem button{
    width: 80%;
}

@media screen and (max-width:640px){
    #alertProblem{
        width: 90%;
        height: 90vh;
    }
}

/* BACKGROUND MUSIC */
#musicPlayer{
    display: none;
}


/* GENERAL */
.notice{
    font-size: 1.2rem;
    position: relative;
    padding: 0 15px;
    background: rgba(255, 255, 255, 0.2);
}

.notice::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 1.4rem;
    background: var(--black);
}

a{
    text-decoration: none;
    font-style: normal;
    color: inherit;
}

a:is(:hover, :focus){
    text-decoration: none;
    font-style: normal;
}

button{
    width: auto;
    height: auto;
    margin: 10px 15px;
    padding: 10px 30px;
    background: var(--accent);
    border: 2px solid var(--white);
    border-radius: 14px;
    color: var(--white);
    font-size: 1rem;
    transition: var(--transition);
}

button:is(:hover, :focus){
    background: var(--brown);
}